<footer class="footer-section">
    <div class="container footer-color">
        <div class="footer-text">
            <p class="footer-title">© 2020 | All Rights Reserved | </p>
            <p class="footer-second-title">&nbsp;Developed with <button class="footer-btn">
                    <svg class="footer-icon" width="14" height="12.75">
                        <use href="./images/symbol-defs.svg#favorite"></use>
                    </svg>
                </button> by&nbsp;<a href="" class="students-link"> GoIT Students</a>
            </p>
        </div>
    </div>
</footer>