<header class="header">
  <div class="container">
    <a class="header-logo" href="./">
      <svg class="header-icon">
        <use href="./images/symbol-defs.svg#film"></use>
      </svg>
      <span class="header-title">Filmoteka</span>
    </a>
    <ul class="header-menu list">
      <li class="header-item">
        <a class="header-item-link" href="">HOME</a>
      </li>
      <li class="header-item">
        <a class="header-item-link" href="">MY LIBRARY</a>
      </li>
    </ul>
  </div>
</header>
