<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>My Library</title>
  </head>
  <body>
    <header class="header header-library">
      <div class="container">
        <nav class="navigation">
          <ul>
            <li>
              <a class="header-logo" href="./">
                <svg class="header-icon">
                  <use href="../images/symbol-defs.svg#film" width="24" height="24"></use>
                </svg>
                <span class="header-title">Filmoteka</span>
              </a>
            </li>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">My Library</a>
            </li>
          </ul>
        </nav>
        <ul class="header-menu list">
          <li class="header-item">
            <button class="watched-btn" href="">Watched</button>
          </li>
          <li class="header-item">
            <button class="queue-btn" href="">Queue</button>
          </li>
        </ul>
      </div>
    </header>
    <!-- <script src="./js/partials/library-buttons.js"></script> -->
  </body>
</html>
