<header class="header-library">
  <div class="container">
    <nav class="library-nav">
      <
      <a class="header-logo__library" href="./index.html">
        <svg class="header-icon__library" width="20" height="20">
          <use class="icon" href="./images/symbol-defs.svg#film"></use>
        </svg>
        <h1 class="header-title__library">Filmoteka</h1>
      </a>

      <ul class="header-menu__library list">
        <li class="header-item__library">
          <button class="watched-btn current" href="./partials/header.html">HOME</button>
        </li>
        <li class="header-item__library">
          <button class="queue-btn current" href="#">WATCHED</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
