<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-btn" data-modal-close>
      <svg class="svg-cls-icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#close" class="close-icon"></use>
      </svg>
    </button>
    <form action="#" class="modal-form"></form>
    <div class="our-team"></div>
    <ul class="team">
      <li class="team-item">
        <img
          src="./images/modal-footer/yehor-posmasko.jpg"
          height="30"
          width="30"
          alt="Егор Подмазко"
        />
        <h3 class="modal-photo-text">Егор Подмазко</h3>
      </li>
      <li class="team-item">
        <img
          src="./images/modal-footer/nikita-fessenko.jpg"
          alt="Nikita Fessenko"
          width="30"
          height="30"
        />
        <h3 class="modal-photo-text">Никита Фесенко</h3>
      </li>
      <li class="team-item">
        <img
          src="./images/modal-footer/alena-istomina.jpg"
          alt="Алена Истомина"
          width="30"
          height="30"
        />
        <h3 class="modal-photo-text">Алена Истомина</h3>
      </li>
      <li class="team-item">
        <img
          src="./images/modal-footer/oleg-s.-and-rostik-v..JPG"
          alt="Ростик и Олег"
          width="30"
          height="30"
        />
        <h3 class="modal-photo-text">Ростик и Олег</h3>
      </li>
      <li class="team-item">
        <img
          src="./images/modal-footer/anna-ivasiuk.jpg"
          alt="Анна Ивасюк"
          width="30"
          height="30"
        />
        <h3 class="modal-photo-text">Анна Ивасюк</h3>
      </li>
      <li class="team-item">
        <img
          src="./images/modal-footer/antonina-horiainova.jpg"
          alt="Антонина Горяйнова"
          width="30"
          height="30"
        />
        <h3 class="modal-photo-text">Антонина Горяйнова</h3>
      </li>
    </ul>
  </div>
</div>
