.header-icon {
  fill: #818181;
  width: 20px;
  height: 20px;
}
.header {
  color: $primary-color;
  padding-top: 48px;
  padding-bottom: 65px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;
}
.btn-nav-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.btn-nav-item {
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: 130px;
}
